extends base

block contents 
    form(method="post") 
        input(type="text", placeholder="이름", name="name")
        input(type="text", placeholder="전화번호('-'없이 숫자만)", name="phoneNumber")
        input(type="password", placeholder="password", name="password")
        input(type="password", placeholder="password 확인", name="password2")
        div 
            input(type="radio", id="man", name="gender", value="man")
            label(for="man") 남성
            input(type="radio", id="woman", name="gender", value="woman")
            label(for="woman") 여성
        p 급수를 입력하세요 
            div
                input(type="radio", id="gradeA", name="grade", value="gradeA")
                label(for="gradeA") A
                input(type="radio", id="gradeB", name="grade", value="gradeB")
                label(for="gradeB") B
                input(type="radio", id="gradeC", name="grade", value="gradeC")
                label(for="gradeC") C
                input(type="radio", id="gradeD", name="grade", value="gradeD")
                label(for="gradeD") D
                input(type="radio", id="gradeE", name="grade", value="gradeE")
                label(for="gradeE") E
                input(type="radio", id="gradeX", name="grade", value="gradeX")
                label(for="gradeX") 없음
        p 연령대를 입력하세요
            div 
                input(type="radio", id="age20", name="age", value=20)
                label(for="age20") 20 이하
                input(type="radio", id="age30", name="age", value=30)
                label(for="age30") 30대 
                input(type="radio", id="age40", name="age", value=40)
                label(for="age40") 40대
                input(type="radio", id="age50", name="age", value=50)
                label(for="age50") 50대
                input(type="radio", id="age60", name="age", value=60)
                label(for="age60") 60대 이상

        input(type="submit")